<div class="col-md-3">
    <div class="list-group">
        <a href="{% url 'users:user_info' %}"
           class="list-group-item {% ifequal current_page 'info' %}active{% endifequal %}">
            <span class="glyphicon glyphicon-user"></span>&nbsp;会员中心
        </a>
        <a href="{% url 'users:user_comment' %}" class="list-group-item {% ifequal current_page 'usercomment' %}active{% endifequal %}">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;评论记录
        </a>
        <a href="{% url 'users:fav_movie' %}"
           class="list-group-item {% ifequal current_page 'favmovie' %}active{% endifequal %}">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;收藏电影
        </a>
    </div>
</div>
